@use "sass:map";

@mixin margin($map) {
	$top: map.get($map, top);
	$right: map.get($map, right);
	$bottom: map.get($map, bottom);
	$left: map.get($map, left);

	@if $top { margin-top: $top; }
	@if $right { margin-right: $right; }
	@if $bottom { margin-bottom: $bottom; }
	@if $left { margin-left: $left; }
}

@mixin padding($map) {
	$top: map.get($map, top);
	$right: map.get($map, right);
	$bottom: map.get($map, bottom);
	$left: map.get($map, left);

	@if $top { padding-top: $top; }
	@if $right { padding-right: $right; }
	@if $bottom { padding-bottom: $bottom; }
	@if $left { padding-left: $left; }
}

.App {
	@include margin((top: 80px, bottom: 80px));
	@include padding((left: 16px, right: 16px));

	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width: 768px) {
		@include padding((left: 32px, right: 32px));
	}
}

.App .prose {
	width: 100%;
	max-width: 768px;
}
